.container {
  display: flex;
  vertical-align: middle;
  font-size: 1.5rem;
  margin-right: 4px;
}

.label {
  padding: 4px 10px;
  vertical-align: middle;
}

.button {
  vertical-align: middle;
  white-space: nowrap;
}

.button img {
  vertical-align: middle;
}

/* .shortLink {
  overflow-wrap: normal;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
  border: 1px dotted #111;
  padding: 4px;
  font-size: 1.25rem;
  margin: 4px;
} */
