html {
  height: 100%;
  font-size: 62.5%;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  color: #111;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

h2 {
  padding: 0;
  margin: 0;
}

p {
  margin: 2rem 0;
}

button {
  background-color: #eee; /*  #ff6637; */
  padding: 4px 6px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: 400;
}

button:hover {
  background-color: #ffcb3a;
}

button:disabled,
button[disabled] {
  border: 1px solid #999;
  background-color: #ccc;
  color: #666;
}
